extends ../layout/main

block variables
	- var title = 'Artem Rebryk'

block content
	.main
		header.card-2
			ul.nav
				li.nav-point 
					a(href="#") Home
				li.nav-point 
					a(href="#") Product
				li.nav-point
					a(href="#") Compary
				li.nav-point
					a(href="#") Blog
		.main-block
			menu
				.menu-block.scroll
					ul
						li
							i.material-icons face
							span Files
						li 
							i.material-icons note
							span Music
						li
							i.material-icons edit
							span Images
						ul 
							i.material-icons keyboard_arrow_down
							span Design
							li
								i.material-icons explore
								span Graphic
						li 
							i.material-icons delete
							span Phisic
						ul 
							i.material-icons keyboard_arrow_down
							span Flat
							li 
								i.material-icons edit
								span Material
							li 
								i.material-icons explore
								span Fluent
						ul 
							i.material-icons keyboard_arrow_down
							span Victor
							ul 
								i.material-icons keyboard_arrow_down
								span Son
								li 
									i.material-icons dns
									span and
			section
				.breads
					a(href="#") Home
					span >
					a(href="#") Flat
					span >
					a(href="#") Material
					span >
					a(href="#") Xyz
				.section-block.scroll
					.items
						.row.p-1e
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text

						.row.p-1e
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text

						.row.p-1e
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
							article.card-1
								img(src="static/img/content/exemple.jpg", alt="")
								p Primari text
				
			
