.menu
    .nav.nav-0
        button.menu-btn(value='0')
            img.btn-icon(src="static/img/general/play_circle_outline.svg", alt="")
        .ungle
            //- span video
    .nav.nav-1         
        button.menu-btn(value='1')
            img.btn-icon(src="static/img/general/photo_library.svg", alt="")
        .ungle
        //- span carousel
    .nav.nav-2       
        button.menu-btn(value='2')
            img.btn-icon(src="static/img/general/radio_button_checked.svg", alt="")
        .ungle
        //- span button
    .nav.nav-3
        button.menu-btn(value='3')
            img.btn-icon(src="static/img/general/show_chart.svg", alt="")
        .ungle
        //- span chart