extends ../layout/main

block variables
    - var title = 'Главная страница'

block content
    .popup
        .modal
            .closeNotif x
            .modal-content
                h1 Hello! 
                p I`m a modal popup!
    .content
        .video-block.block
            .text-block
                span.txt-larger This is app for nothing
                span.txt-smaller Made by Artem Rebryk
            video.video.resize(width="100%" height="auto" autoplay muted loop)
                source(src="static/video/Industrial_Brooklyn.mp4" type="video/mp4")
                source(src="static/video/Industrial_Brooklyn.webm" type="video/webm")
                img(src="static/video/Industrial_Brooklyn.jpg", alt="")
        .gallery-block.block
            .slider 
                .slide-item
                    img.i.resize(src="static/img/alberto-restifo-95349-unsplash.jpg", alt="")
                .slide-item 
                    img.i.resize(src="static/img/liam-pozz-325640-unsplash.jpg", alt="")
                .slide-item
                    img.i.resize(src="static/img/rory-hennessey-345299-unsplash.jpg", alt="")
                .slide-item 
                    img.i.resize(src="static/img/nattu-adnan-328570-unsplash.jpg", alt="")
                .slide-item
                    img.resize(src="static/img/willian-west-346731-unsplash.jpg", alt="")
                .slide-item 
                    img.resize(src="static/img/josh-bean-348474-unsplash.jpg", alt="")
                .slide-item
                    img.resize(src="static/img/john-baker-349282-unsplash.jpg", alt="")
                .slide-item 
                    img.resize(src="static/img/prometey-sanchez-noskov-340992-unsplash.jpg", alt="")
                .slide-item
                    img.resize(src="static/img/wil-stewart-16060-unsplash.jpg", alt="")
                .slide-item 
                    img.resize(src="static/img/patrick-tomasso-406271-unsplash.jpg", alt="")

        .button-block.block
            .modal-btn
                button.openPopup Hello!

        .chart-block.block
            .chart
                canvas.canvas#myChart
